.taskItem {
  background: var(--white);
  overflow: hidden;

  &:first-child {
    border-top-left-radius: 1.9em;
    border-top-right-radius: 1.9em;
  }

  &:last-child {
    border-bottom-left-radius: 1.9em;
    border-bottom-right-radius: 1.9em;
  }

  form {
    position: relative;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .error {
    position: absolute;
    bottom: 0.4em;
    left: 4em;
    right: 1em;
    color: var(--danger);

    span {
      font-size: .8em;
    }
  }

  .title {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1px;
  }

  input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid var(--primary-light);
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  &.complete {
    background: var(--secondary-light);

    .title {
      text-decoration: line-through;
      color: var(--gray-500);
    }
  }
}